myenv
data
transcript/vectors/val2/text
logs/lexicons_2025-08-26_21_29_36/train
.vscode
speech/.DS_Store
transcript/.DS_Store
transcript/.DS_Store
.DS_Store
transcript/.DS_Store
transcript/data
transcript/vectors/val2/text_aligned
logs
speech/dataset
speech/model_output
speech/models
transcript/tmp_weights.h5
landmarks/faces_extracted
landmarks/tmp
omg_dataset/OMG_Empathy2019_testSet/Videos
omg_data/Annotations
transcript/predictions
Arpan
transcript_speech/models
transcript_speech/speech_predictors
transcript_speech/vectors/val2
transcript_rawface/models
transcript_rawface/rawface_predictions
transcript_rawface/transcript_predictions
transcript_rawface/vectors/val2
transcript_rawface/test_prediction_FINAL
