myenv
data
transcript/vectors/val2/text
logs/lexicons_2025-08-26_21_29_36/train
.vscode
speech/.DS_Store
transcript/.DS_Store
transcript/.DS_Store
.DS_Store
transcript/.DS_Store
transcript/data
transcript/vectors/val2/text_aligned
logs
speech/dataset
speech/model_output
speech/models
transcript/tmp_weights.h5
